@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&family=Roboto:wght@300&display=swap');


    

    /*max-width: 1000px;*/
}

/*  font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
    */



:root {

    --primary-color: #304C89;
    --secondary-color: #648DE5;
    --accent1-color: #9EB7E5;
    --accent2-color: #A99D75;
    
    --heading-font: 'Roboto' , sans-serif;
    --paragraph-font: 'Oswald' , sans-serif;
    
    
    --nav-background-color: var(--primary-color) ;
    --nav-link-color: var(--secondary-color) ;
    --nav-hover-link-color: var(--accent1-color);
    --nav-hover-background-color: var(--accent2-color) ;

}
h1 , h2 {
    font-family: 'Oswald' , sans-serif;
    color: #000 ;
   
}
p {
    font-family: 'Roboto' , sans-serif;
    color: #000 ;
    
}
/* a is for the links */
a {
    text-decoration: none;
}
/* I cant get it to only use the hero.jpg instead of both hero and happy clinet without using id tag */
#onlyhero {
    width: 100%;
}

.hero h1{

    position: absolute;
    width:100%;
    text-align: center;
    bottom: 600px;
    background-color: rgba(169,157,117,.7);

    
}
article {
    position: absolute;
    width:75%;
    bottom:350px;
    border: solid #000 4px;
    background-color: rgba(158, 183, 229,.4);
    text-align: center;
    margin-left: 11%;
    margin-right: 15%;
}

article img{
    width: 200px;
    height: auto;
    float: right;
    bottom: 200px;
    padding: 10px;
    padding-right: 50px;
}