*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}






nav{
background-color: steelblue;
padding: 10px;
}

nav a {
color: white;
display: block;
padding: 20px;
}

h1 {
display: block;
color:steelblue;
border-style: solid;
border-width:0 0 1px 0 ;
}

img{
width: 150px;
height: auto;
border: 1px solid steelblue;
padding: 2px;
box-shadow: 0  0 30px gray;
}

p{
padding: 30px;
}

main {

    max-width: 650px;
}

main img{
    width: 150px;
    height: auto;
}
aside{
margin:16px ;
border:6px solid #eee;
padding: 16px;
background-color: #333;
color:gray ;
grid-template-columns: 1fr;
}

aside img{
    width: 200px;
    
    height: auto;
}



footer{
    margin-top: 16px;
    border-top: 1px solid #000;
    text-align: center;
}

#error {

padding-top:200px;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 3rem;
    background-color: #ddd;
    color: #000;
   

}
    aside {
    width:25em;
    text-align: center;
    position: relative;
}



main img {

float:right;
}

aside h2 {
    position: absolute;
    top: 15px;
    padding-left: 70px;
}

header, footer {
    max-width: 840px;
    margin: 0 auto;
}
nav{
    background-color: steelblue;
    padding: 1em;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
nav a {
    display: block;
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
}

header, .grid, footer{
    grid-template-columns: 1fr;
    max-width: 840px;
}

.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    margin: 1rem;
}
aside {
    width: 20rem;
    position: relative; /*broken */
    grid-column: 1/2;
    grid-row: 1/2;
}