.callout {
    max-width: 400px;
    margin: 5px;
    border:1px solid black ;
    padding: 20px;
    background-color: steelblue ;
    color: #fff;
}

.callout img {
	float: right;
    margin:0px 0px 50px 15px ;
    border:1px ;
    padding:1px ;
    background-color:cornsilk ;
    width:100px ;
    height:auto ;
}

blockquote {
	margin: 0;
}

cite {
	display:block ;
    border-top: 1px dotted #fff;
    padding-top:3px ;
    text-align: right ;
    font-size: smaller ;
}